{{ "" }}
{{- $service := .Data.Service}}
{{- $subServices := .Data.SubServices}}
{{- $customizedTypes := .Data.CustomizedTypes -}}

## Bucket Class

Bucket Class provides Bucket and Object level APIs.

### Parameters

|Name|Type|Description|
|-|-|-|
|config|Config|Config that initializes a Bucket|
|properties|dict|Properties including bucket_name and zone|
|client|requests.Session|Client that sends requests|

### Attribute

|Name|Type|Description|
|-|-|-|
|config|Config|Config that initializes a QingStor service|
|client|requests.Session|Client that sends requests|

### Functions

{{- range $_, $subService := $subServices}}
{{- range $_, $operation := $subService.Operations}}
{{- template "RenderOperation" passThrough $subService.Name $operation $customizedTypes}}
{{- end}}
{{- end}}
